.footer {
    pointer-events: all;
    width: 100%;
}

.flex-menu {
    /* padding: 4px, 40px, 4px, 40px; */
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 0px;

}

.video-img {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 42%;
    width: 10%;
    z-index: 999;
    background-size: 100%;
    cursor: pointer;
}

.video-img>img {
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
    top: 260px;
    left: 48%;
}

.single-section {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    font-size: 12px;
    text-align: left;
    width: 100px;
}

.section-pic {
    width: 80px;
    height: 20px;
    position: absolute;
    margin-top: -21px;
}

.pic-position {
    height: 54px;
    width: 30px;
    position: relative;
    margin-right: 8px;
}



.fs-16 {
    font-size: 16px;
}




.education {
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    bottom: 100px;
}



.buttom-line {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-top: -14px;
}

.title-pic-side {
    height: 20px;
    line-height: 20px;
    display: inline-block;
}