.right-style {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: fixed;
    right: 0;
    top: 28%;
    margin-right: 24px;
}



.font-line-style {
    width: 72px;
    margin-left: 10px;
}