.content-block-main {
  width: 200px;

  .title {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #fff;

    span {
      line-height: 24px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    // max-height: 680px;
    // overflow-y: scroll;
  }
}