video {
    position: fixed;
    z-index: -1;
    top: 0;
}




.picture-part {
    margin: 0 auto;
    width: 256px;
}



.info-content {
    width: 308px;
    margin: 0 auto
}

.ppl-box {
    height: 220px;
    margin-bottom: 20px;
}

.video1-bg {
    background-image: url("../../assets/asset/video1.png");
    height: 80vh;
}

.video1-bg-none {
    background-image: none;
}